<%
sounds_hash = {
  asset_path("ambiance").to_sym     => 'ambiance',
  asset_path("ambiance-two").to_sym => 'ambiance-two',
  asset_path("bats").to_sym      => 'bats',
  asset_path("begging").to_sym      => 'begging',
  asset_path("chains").to_sym      => 'chains',
  asset_path("chainsaw").to_sym      => 'chainsaw',
  asset_path("clock").to_sym      => 'clock',
  asset_path("crazy-brain").to_sym      => 'crazy brain',
  asset_path("cut-blood").to_sym      => 'cut blood',
  asset_path("demons-laughing").to_sym      => 'demons laughing',
  asset_path("digital-destruction").to_sym      => 'digital destruction',
  asset_path("doorbell").to_sym      => 'doorbell',
  asset_path("enraged-zombies").to_sym      => 'enraged zombies',
  asset_path("evil-laugh").to_sym      => 'evil laugh',
  asset_path("foley").to_sym      => 'foley',
  asset_path("ghost-movement").to_sym      => 'ghost movement',
  asset_path("heartbeat").to_sym      => 'heartbeat',
  asset_path("hell").to_sym      => 'hell',
  asset_path("monster").to_sym      => 'monster',
  asset_path("opening-casket").to_sym      => 'opening-casket',
  asset_path("panic").to_sym      => 'panic',
  asset_path("psycho-scream").to_sym      => 'psycho-scream',
  asset_path("riser").to_sym      => 'riser',
  asset_path("seven-days").to_sym      => 'seven-days',
  asset_path("seven-days").to_sym      => 'sqeaking-door',
  asset_path("thunder").to_sym      => 'thunder',
  asset_path("tomnstone").to_sym      => 'tombstone',
  asset_path("train-hits-guy").to_sym      => 'train hits guy',
  asset_path("water-drops").to_sym      => 'water drops',
  asset_path("werewolf").to_sym      => 'werewolf',
}
%>

<%= simple_form_for([@story, @slide], remote: true) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-xs-7 col-xs-offset-2">
      <%= f.input :name, label: false, placeholder: "Name the Path" %>
    </div>
    <div class="col-xs-1" style="padding-left: 0;">
      <%= link_to "Test", story_slide_path(@story, @slide), class: 'btn btn-danger btn-md' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= f.input :photo, as: :attachinary, class: "margin-less" %>
      <%= f.input :sound, as: :select, collection: sounds_hash.sort.map{|k,v| [v,k]}, include_blank: "No sound", label: false, class: "margin-less" %>
      <audio id="player" controls="controls" style="display: none;">
        <source id="mp3_src" src="" type="audio/mpeg">
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <!-- editor container -->
      <div id="editor-container">
      </div>
      <%= f.input :json, as: :hidden, input_html: { id: "json"} %>
      <%= f.input :narration, as: :hidden, input_html: { id: "narration"} %>

    </div>
  </div>
  <br>
<% end %>
