<%
sounds_hash = {
  asset_path("doorbell").to_sym      => 'Doorbell',
  asset_path("Sqeaking_door").to_sym => 'Creepy Door'
}
%>



<%= simple_form_for([@story, @slide], remote: true) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-xs-7 col-xs-offset-2">
      <%= f.input :name, label: false, placeholder: "Name the Path" %>
    </div>
    <div class="col-xs-1" style="padding-left: 0;">
      <%= link_to "Test", story_slide_path(@story, @slide), class: 'btn btn-danger btn-md' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-2">
      <%= f.input :photo, as: :attachinary %>
    </div>
    <div class="col-xs-5">
      <%= f.input :sound, as: :select, collection: sounds_hash.sort.map{|k,v| [v,k]}, include_blank: "No sound", label: false %>
      <audio id="player" controls="controls" style="display: none;">
        <source id="mp3_src" src="" type="audio/mpeg">
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

      <!-- toolbar container -->
      <!-- <div id="toolbar">
      </div> -->

      <!-- editor container -->
      <div id="editor-container">
      </div>
      <%= f.input :json, as: :hidden, input_html: { id: "json"} %>
      <%= f.input :narration, as: :hidden, input_html: { id: "narration"} %>

    </div>
  </div>
  <br>
<% end %>
