<div class="navbar-wagon" style="margin-bottom: 0;">
  <!-- Logo -->
  <%= link_to stories_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>
  <h2> <%= @story.title %> <%= link_to "Edit", edit_story_path(@story), class: 'btn btn-sm' %></h2>
  <div class="control">
    <%= link_to "Slides Index", story_slides_path(@story), class: 'btn btn-primary' %>
    <%= link_to "Read the story", story_slide_path(@story, @first_slide), class: 'btn btn-primary' %>
    <%= link_to "/publish/#{@story.id}", method: :post, class: 'btn btn-warning' do %>
      <%= @story.published ? "Private" : "Publish" %>
    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

    <% current_user.photo? ? avatar_url = current_user.photo.path : avatar_url = "http://placehold.it/30x30" %>

      <!-- Links when logged in -->

      <!-- to add something in the navbar, add a link_to helper, with class:"navbar-wagon-item navbar-wagon-link" for styling -->

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
            <%= cl_image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to dashboard_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Dashboard") %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-cog"></i>  <%= t(".profile", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

