<%= render 'navbar_slides' %>

<% @story = @story.nil? ? Story.find(params[:story_id]) : @story %>

<div class="wrapper" style="position: relative; height: calc(100vh - 70px)">

  <h2 class="text-center" style="margin-top: 0; padding-top: 80px">
    Slide <%= @slide.x_axis %>x<%= @slide.y_axis %>
    <%= link_to "Test", story_slide_path(@story, @slide), class: 'btn btn-danger btn-md' %>
  </h2>

  <div class="container">
    <div class="edit text-center">
      <%= render 'edit_form' %>
    </div>

    <div class="up-arrow">
      <% if @up_slide %>
        <%= link_to edit_story_slide_path(@story, @up_slide) do %>
          <%= image_tag "arrow-up.png" %>
          <% if  %>
            <%= link_to "/stories/#{@story.id}/block_up/#{@slide_id}", method: :post, class: 'btn btn-danger' do %>
          <% else %>
            <%= link_to "/stories/#{@story.id}/block_up/#{@slide_id}", method: :post, class: 'btn btn-success' do %>
          <% end %>
        <% end %>
      <% else %>
        <%= render 'new_form', x: @slide.x_axis, y: (@slide.y_axis + 1) %>
      <% end %>
    </div>

    <div class="left-arrow">
      <% if @left_slide %>
        <%= link_to edit_story_slide_path(@story, @left_slide) do %>
          <%= image_tag "arrow-left.png" %>
        <% end %>
      <% else %>
        <%= render 'new_form', x: (@slide.x_axis - 1), y: @slide.y_axis %>
      <% end %>
    </div>

    <div class="right-arrow">
      <% if @right_slide %>
        <%= link_to edit_story_slide_path(@story, @right_slide) do %>
          <%= image_tag "arrow-right.png" %>
        <% end %>
      <% else %>
        <%= render 'new_form', x: (@slide.x_axis + 1), y: @slide.y_axis %>
      <% end %>
    </div>

    <div class="down-arrow">
    <% if @down_slide %>
      <%= link_to edit_story_slide_path(@story, @down_slide) do %>
        <%= image_tag "arrow-down.png" %>
      <% end %>
    <% else %>
      <%= render 'new_form', x: @slide.x_axis, y: (@slide.y_axis - 1) %>
    <% end %>
  </div>
  </div>
</div>

<% content_for(:afterjs) do %>
  <!-- Initialize Quill editor -->
  <script>
    let editor = new Quill('#editor-container', {
      modules: {
        toolbar: true
      },
      theme: 'snow'
    });

    editor.setContents(<%= @slide.json.html_safe unless @slide.json.nil? %>);

    const slideID = "#edit_slide_" + "<%= j @slide.id.to_s %>";

    $(slideID).submit(function() {
      // this one works for quill rendering
      $('#json').val(JSON.stringify(editor.getContents()));

      // this one works for html
      let container = $('.ql-editor');
      $('#narration').val(container.html());

      return true; // return false to cancel form action
    });

  </script>
<% end %>



