<%= render 'navbar_slides' %>

<% @story = @story.nil? ? Story.find(params[:story_id]) : @story %>

<div class="wrapper" style="position: relative; height: calc(100vh - 70px)">

  <h2 class="text-center" style="margin-top: 0; padding-top: 120px">
    Slide <%= @slide.x_axis %>x<%= @slide.y_axis %>
    <%= link_to "Test", story_slide_path(@story, @slide), class: 'btn btn-danger btn-md' %>
  </h2>

  <div class="container">
    <div class="edit text-center">
      <%= render 'edit_form' %>
    </div>

    <div class="up-arrow">
      <%= render 'up' %>
    </div>

    <div class="left-arrow">
      <%= render 'left' %>
    </div>

    <div class="right-arrow">
      <%= render 'right' %>
    </div>

    <div class="down-arrow">
      <%= render 'down' %>
    </div>
  </div>

</div>



<% content_for(:afterjs) do %>
  <!-- Initialize Quill editor -->
  <script>
    let editor = new Quill('#editor-container', {
      modules: {
        toolbar: true
      },
      theme: 'snow',
      scrollingContainer: scroll
    });

    editor.setContents(<%= @slide.json.html_safe unless @slide.json.nil? %>);

    const slideID = "#edit_slide_" + "<%= j @slide.id.to_s %>";

    $(slideID).submit(function() {
      // this one works for quill rendering
      $('#json').val(JSON.stringify(editor.getContents()));

      // this one works for html
      let container = $('.ql-editor');
      $('#narration').val(container.html());

      return true; // return false to cancel form action
    });

  </script>
<% end %>



