<div class="container", style="margin-bottom: 100px">
  <h2>
    Map of <%= @story.title %>
    <% if @first_slide != nil %>
      <%= link_to "Read the story", story_slide_path(@story, @first_slide), class: 'btn btn-danger' %>
    <% end %>
  </h2>
</div>

<div class="row">
  <div id="map" class="col-xs-11">
    <table>
      <% (@min_height..@max_height).each do |y| %>
        <tr class="map-row">
          <% (@min_width..@max_width).each do |x| %>
            <!-- Setting up info about the slide -->
            <%
            @slide = @slides.select { |slide| slide.x_axis == x && slide.y_axis == -y }.first
            if @slide
              @up_slide = Slide.find_by(x_axis: @slide.x_axis, y_axis: (@slide.y_axis + 1), story: @story) || nil
              @down_slide = Slide.find_by(x_axis: @slide.x_axis, y_axis: (@slide.y_axis - 1), story: @story) || nil
              @left_slide = Slide.find_by(x_axis: (@slide.x_axis - 1), y_axis: @slide.y_axis, story: @story) || nil
              @right_slide = Slide.find_by(x_axis: (@slide.x_axis + 1), y_axis: @slide.y_axis, story: @story) || nil
            end
            %>

            <!-- Setting the cell -->
            <% if @slide %>
              <% if @slide == @first_slide %>
                <td class="map_cell" id="origin">
              <% else %>
                <td class="map_cell">
                <%= link_to story_slide_path(@story, @slide), method: :delete, data: { confirm: 'Are you sure? You won\'t be able to restore it!'} do %>
                  <span class="close-x"><i class="fa fa-close"></i></span>
                <% end %>
              <% end %>
                  <h2 class="text-center">
                    <%= link_to edit_story_slide_path(@story, @slide) do %>
                      <%= @slide.name.empty? ? "(#{@slide.x_axis}, #{@slide.y_axis})" : @slide.name %>
                    <% end %>
                  </h2>
                  <div class="arrow up-arrow">
                    <%= render 'miniup' %>
                  </div>

                  <div class="arrow left-arrow">
                    <%= render 'minileft' %>
                  </div>

                  <div class="arrow right-arrow">
                    <%= render 'miniright' %>
                  </div>

                  <div class="arrow down-arrow">
                    <%= render 'minidown' %>
                  </div>
                </td>
            <% else %>
              <td class="empty_cell"></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
