<h2>All Slides of <%= @story.title %></h2>

<p><%= link_to "Test it", story_slide_path(@story, Slide.find_by(x_axis: 0, y_axis: 0, story: @story)) %></p>
<br>
<p><%= link_to "Create new slide", new_story_slide_path(@story) %></p>


<% @slides.each do |slide| %>
  <h2><%= slide.x_axis %> / <%= slide.y_axis %></h2>
  <p><%= slide.narration %></p>
  <%= link_to "Edit", edit_story_slide_path(@story, slide), class: 'btn btn-warning btn-sm' %>
  <%= link_to "Delete", story_slide_path(@story, slide), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure? You won\'t be able to restore it!'} %>
<% end %>
