<div class="container", style="margin-bottom: 100px">
  <h2>
    Map of <%= @story.title %>
    <% if @first_slide != nil %>
      <%= link_to "Read the story", story_slide_path(@story, @first_slide), class: 'btn btn-danger' %>
    <% end %>
  </h2>

  <h4>width: <%= @width %></h4>
  <h4>height: <%= @height %></h4>

  <table>
    <% (@min_height..@max_height).each do |x| %>
      <tr>
        <% (@min_width..@max_width).each do |y| %>
          <% slide = @slides.select { |slide| slide.x_axis == x && slide.y_axis == y } %>
          <% unless slide.empty? %>
            <td>(<%= slide.x_axis %>, <%= slide.y_axis %></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>


  <% @slides.each do |slide| %>
    <h2>
      <%= link_to edit_story_slide_path(@story, slide) do %>
        <%= slide.name %> (<%= slide.x_axis %>, <%= slide.y_axis %>)
      <% end %>

      <% if slide != @first_slide %>

        <%= link_to "Delete", story_slide_path(@story, slide), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure? You won\'t be able to restore it!'} %>
      <% end %>
    </h2>
  <% end %>
</div>
