<div class="slide-wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @slide.photo.path if @slide.photo? %>')">
  <div class="container">
    <p>
      <%= @slide.narration %>
    </p>
    <% unless @up_slide.nil? %>
      <%= link_to "Up",   story_slide_path(@story, @up_slide), id: "up"%>
    <% end %>
    <% unless @down_slide.nil? %>
      <%= link_to "Down", story_slide_path(@story, @down_slide), id: "down" %>
    <% end %>
    <% unless @left_slide.nil? %>
      <%= link_to "Left", story_slide_path(@story, @left_slide), id: "left"  %>
    <% end %>
    <% unless @right_slide.nil? %>
      <%= link_to "Right",story_slide_path(@story, @right_slide), id: "right" %>
    <% end %>
  </div>
</div>


<script>
  document.addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 37) {
      document.getElementById("left").click();
    } else if (event.keyCode === 38) {
      document.getElementById("up").click();
    } else if (event.keyCode === 39) {
      document.getElementById("right").click();
    } else if (event.keyCode === 40) {
      document.getElementById("down").click();
    }
  });
</script>
