<% if @slide.photo? %>
  <div id="fullscreen" class="slide-wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @slide.photo.path %>')">
<% else %>
  <div id="fullscreen" class="slide-wrapper">
<% end %>
<div class="navbar navbar-wagon navbar-slides-view">
  <div class="control">
  <% if user_signed_in? && @slide.story.user == current_user %>
    <%= link_to "Edit", edit_story_slide_path(@story, @slide), id: 'btn-edit', class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Panic", stories_path, class: "btn btn-warning" %>
  <%= link_to "Fullscreen", '#', class: "btn btn-success", id: 'btn-fs' %>
  </div>
</div>
<div class="container slides-container">
    <p>
      <%= @slide.narration.html_safe unless @slide.narration.nil? %>
    </p>
    <% if @up_slide %>
      <div class="up-arrow">
        <%= link_to story_slide_path(@story, @up_slide), id: "up" do %>
          <%= image_tag "arrow-up.png" %>
        <% end %>
      </div>
    <% end %>

    <% if @down_slide %>
      <div class="down-arrow">
        <%= link_to story_slide_path(@story, @down_slide), id: "down" do %>
          <%= image_tag "arrow-down.png" %>
        <% end %>
      </div>
    <% end %>

    <% if @left_slide %>
      <div class="left-arrow">
        <%= link_to story_slide_path(@story, @left_slide), id: "left" do %>
          <%= image_tag "arrow-left.png" %>
        <% end %>
      </div>
    <% end %>

    <% if @right_slide %>
      <div class="right-arrow">
        <%= link_to story_slide_path(@story, @right_slide), id: "right" do %>
          <%= image_tag "arrow-right.png" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<script>
  // Fullscreen function
  if (
    document.fullscreenEnabled || document.webkitFullscreenEnabled ||
    document.mozFullScreenEnabled || document.msFullscreenEnabled
  ) {
    document.getElementById("btn-fs").addEventListener("click", function(event) {
      var i = document.getElementById("fullscreen");
      // go full-screen
      if (i.requestFullscreen) {

        i.requestFullscreen();
      } else if (i.webkitRequestFullscreen) {
        i.webkitRequestFullscreen();
      } else if (i.mozRequestFullScreen) {
        i.mozRequestFullScreen();
      } else if (i.msRequestFullscreen) {
        i.msRequestFullscreen();
      }
    });
  } else {
    document.getElementById("btn-fs").style.display = "none";
  }

  // moving with arrows
  document.addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 37) {
      document.getElementById("left").click();
    } else if (event.keyCode === 38) {
      document.getElementById("up").click();
    } else if (event.keyCode === 39) {
      document.getElementById("right").click();
    } else if (event.keyCode === 40) {
      document.getElementById("down").click();
    }
  });
</script>
