<div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @slide.photo.path, height: 300, width: 400, crop: :fill %>')">
  <div class="container">
    <p>
      <%= @slide.narration %>
    </p>
    <%= link_to "Up", story_slide_path(@story, @up_slide)       unless @up_slide.nil?%>
    <%= link_to "Down", story_slide_path(@story, @down_slide)   unless @down_slide.nil?%>
    <%= link_to "Left", story_slide_path(@story, @left_slide)   unless @left_slide.nil?%>
    <%= link_to "Right", story_slide_path(@story, @right_slide) unless @right_slide.nil?%>
  </div>
</div>
