<div class="container">
  <p>
    <%= @slide.narration %>
  </p>
  <%= link_to "Up", story_slide_path(@story, @slide.x_axis, (@slide.y_axis + 1)) %>
  <%= link_to "Down", story_slide_path(@story, @slide.x_axis, (@slide.y_axis - 1)) %>
  <%= link_to "Left", story_slide_path(@story, (@slide.x_axis - 1), @slide.y_axis) %>
  <%= link_to "Right", story_slide_path(@story, (@slide.x_axis + 1), @slide.y_axis) %>
</div>
