<% @stories.each do |story| %>
  <div class="banner-drop tabcontent" id="story_<%= story.id %>">
    <div id="side-banner">
      <div class="banner-title">
        <h2><%= story.title %></h2>
      </div>

      <div class="banner-category">
        <% story.categories.each do |category| %>
          <%= category.name %> <%= '-' unless category == story.categories.last %>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <div class="rating">
          <p>Your Rating:
            <div id="user_star_<%= story.id %>">
            </div>
          </p>
        </div>
      <% end %>

      <div class="banner-description">
        <p><%= story.description %></p>
      </div>
        <%= link_to "Read the story", story_slide_path(story, story.slides.find_by(x_axis: 0, y_axis: 0)), class: "banner-read btn btn-danger" %>
    </div>
    <div class="banner-img" style="background-image: linear-gradient(90deg,rgba(0,0,0,1), rgba(0,0,0,0) 30%), url('<%= cl_image_path story.photo.path if story.photo? %>')">
    </div>
  </div>
<% end %>

<% content_for(:afterjs) do %>
  <script>
    <% if user_signed_in? %>
      <% @stories.each do |story| %>
        <% rating = @ratings.find_by(story: story) %>
        $('#user_star_<%= story.id %>').raty({
            score: <%= rating.score %>,
            path: '/assets',
            click: function(score, evt) {
              $.ajax({
                url: '/ratings/' + <%= rating.id %>,
                type: 'PATCH',
                data: { score: score }
              })
            }
          });
      <% end %>
    <% end %>
  </script>
<% end %>
