<% if local_assigns[:type] == "popular" %>
  <% @stories = @stories_popular %>
<% elsif local_assigns[:type] == "recent" %>
  <% @stories = @stories_recent %>
<% elsif local_assigns[:type] == "alpha" %>
  <% @stories = @stories_alphabetic %>
<% end %>

<div class= "master-container">
  <div class="card-container" id="container_<%= local_assigns[:type] %>">
    <% @stories.each do |story| %>
    <div data-label="<%= local_assigns[:type] %>" class="scroller forward-scroller" style="right: 0">
      <%= image_tag "arrow-right.png" %>
    </div>
    <div data-label="<%= local_assigns[:type] %>" class="scroller backward-scroller" style="left: 0">
      <%= image_tag "arrow-left.png" %>
    </div>

      <% unless story.photo.nil? %>
        <div class="story-card" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url('<%= cl_image_path story.photo.path, width: 300, height: 200, gravity: 'center', crop: 'fill' %>')">
      <% else %>
        <div class="story-card" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url('<%= image_path Story::placeholder, width: 300, height: 200, gravity: 'center', crop: 'fill' %>')">
      <% end %>
          <%= link_to '', "#story_#{story.id}", class: 'story-link-wrapper', onclick: "openTab(event, 'story_#{local_assigns[:type]}_#{story.id}')" %>
          <div class="story-content">
              <div class="story-head">
                <h2><%= story.title %></h2>
                <p>Written by <%= story.user.nickname %></p>

                <div class="rating">
                  <div class="star_<%= story.id %>"></div>
                </div>

                <%= link_to "#story_#{story.id}", class: 'story-link-wrapper', onclick: "openTab(event, 'story_#{local_assigns[:type]}_#{story.id}')" do %>
                  <div class="story-link">
                    <%= image_tag "arrow-down.png", class: 'small-arrow' %>
                  </div>
                <% end %>
              </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="story-details">
  <!-- render details partial in here -->
  <%= render "shared/banner", type: local_assigns[:type] %>
</div>

<% content_for(:afterjs) do %>
  <script>
    <% @stories.each do |story| %>
      $('.star_<%= story.id %>').raty({
        readOnly: true,
        score: <%= story.avg_rating %>,
        path: '/assets'
      });
    <% end %>

  </script>
<% end %>
