<audio style="display: none;" controls>
  <source id="doorbell" src="<%= asset_path("doorbell")%>" type="audio/mp3">
</audio>

<audio id="squeak" style="display: none;" controls>
  <source src="<%= asset_path("Sqeaking_door")%>" type="audio/mp3">
</audio>

<div class="homepage" id="page">
  <div id="overlay" class="cover blur-in">

    <h1 data-heading="Campfire" class="campfire">Campfire</h1>

    <%= link_to new_story_path, class: "arrow left-arrow" do %>
      <%= image_tag "arrow-left.png" %><p id="breakThrough" class="break-through" onclick="shakeThrough()">Write a Story</p>
    <% end %>

    <%= link_to stories_path, class: "arrow right-arrow" do %>
      <p id="breakThrough" class="break-through" onclick="shakeThrough()">Read a Story</p><%= image_tag "arrow-right.png" %>
    <% end %>

    <div class="homefooter">
      <p class="text-center">You can use your keyboard arrows  <%= image_tag "keyboard-arrows.png" %> to navigate through CAMPFIRE.</p>
      <p class="text text-center">Interactive Horror Stories</p>
    </div>
  </div>

  <div class="row pop-up">
    <div class="box small-6 large-centered" id="popupbox">
      <h2>Use headphones and turn up <br> the volume for a better experience!</h2>
    </div>
  </div>
</div>

<% content_for (:afterjs) do %>
  <script>
    $(function() {
      $('.pop-up').hide();
      $('.pop-up').fadeIn(1000);

          $('#page').click(function (e) {

          $('.pop-up').fadeOut(700);
          $('#overlay').removeClass('blur-in');
          $('#overlay').addClass('blur-out');
          e.stopPropagation();

        });
     });
  </script>
<% end %>
