<div id="page">
  <div id="overlay" class="cover blur-in">
    <!-- <div class="content"> -->
      <h1 class="text text-center">CAMPFIRE</h1>

      <div class="rowmainlinks">
        <%= link_to new_story_path do %>
          <%= image_tag "arrow-left.png" %> Write a Story
        <% end %>

        <%= link_to stories_path do %>
          Read a Story <%= image_tag "arrow-right.png" %>
        <% end %>
      </div>

      <h2 class="text text-center">Interactive Horror Stories</h2>
    <!-- </div> -->
  </div>

  <div class="row pop-up">
    <div class="box small-6 large-centered">
      <h3>WELCOME</h3>
      <p>Use headphones and turn up the volume for a better experience! <br> You should use your keyboard arrows <%= image_tag "keyboard-arrows.png" %> to navigate through Campfire. </p>
    </div>
  </div>
</div>

<% content_for (:afterjs) do %>
  <script>
    $(function() {
      $('.pop-up').hide();
      $('.pop-up').fadeIn(1000);

          $('#page').click(function (e) {

          $('.pop-up').fadeOut(700);
          $('#overlay').removeClass('blur-in');
          $('#overlay').addClass('blur-out');
          e.stopPropagation();

        });
     });
  </script>
<% end %>
