<div style="margin-bottom: 100px">
  <% if params[:query] %>
    <h4 class="index-title">Results for <%= params[:query] %></h4>
    <%= render 'shared/card' %>
  <% else %>
    <h4 class="index-title">Most popular stories</h4>
    <%= render 'shared/card', type: "popular" %>

    <h4 class="index-title">Most recent stories</h4>
    <%= render 'shared/card', type: "recent" %>

    <h4 class="index-title">A - Z stories</h4>
    <%= render 'shared/card', type: "alpha" %>
  <% end %>

  <div id="story-details">
    <!-- render details partial in here -->
    <%= render "shared/banner" %>
  </div>
</div>

