<h2>Hello World</h2>

<p><%= link_to "Create a story", new_story_path %></p>

<% @stories.each do |story| %>
  <h2><%= story.title %></h2>
  <p><%= story.description %></p>
  <p><%= link_to story.title, story_path(story) %></p>
  <%= link_to "Edit", edit_story_path(story), class: 'btn btn-warning btn-sm' %>
  <%= link_to "Delete", story_path(story), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure? You won\'t be able to restore it!'} %>
<% end %>


