<div class="content-wrapper", style="margin-bottom: 90px">
  <% if params[:query] %>
    <h4 class="index-title">Results for <%= params[:query] %></h4>
    <%= render 'shared/card' %>
  <% else %>
    <h4 class="index-title">Most popular stories</h4>
    <%= render 'shared/card', type: "popular" %>

    <h4 class="index-title">Most recent stories</h4>
    <%= render 'shared/card', type: "recent" %>

    <h4 class="index-title">A - Z stories</h4>
    <%= render 'shared/card', type: "alpha" %>
  <% end %>
</div>

<script>
  document.querySelectorAll('.forward-scroller').forEach((scroller) => {
    scroller.addEventListener('click', (event) => {
      const cc = document.getElementById(`container_${event.currentTarget.dataset.label}`);


      cc.scrollBy({
        left: document.querySelector('.story-card').offsetWidth * 2,
        behavior: 'smooth'
      });
    });
  });

  document.querySelectorAll('.backward-scroller').forEach((scroller) => {
    scroller.addEventListener('click', (event) => {
      const cc = document.getElementById(`container_${event.currentTarget.dataset.label}`);

      cc.scrollBy({
        left: -document.querySelector('.story-card').offsetWidth * 2,
        behavior: 'smooth'
      });
    });
  });
</script>
