<div class="content-wrapper", style="margin-bottom: 90px">
  <% if params[:query] %>
    <h4 class="index-title">Results for <%= params[:query] %></h4>
    <%= render 'shared/card' %>
  <% else %>
    <h4 class="index-title">Most popular stories</h4>
    <%= render 'shared/card', type: "popular" %>

    <h4 class="index-title">Most recent stories</h4>
    <%= render 'shared/card', type: "recent" %>

    <h4 class="index-title">A - Z stories</h4>
    <%= render 'shared/card', type: "alpha" %>
  <% end %>
</div>

<script>
  document.querySelectorAll('.scroller').forEach((scroller) => {
    scroller.addEventListener('click', (event) => {
      const cc = document.getElementById(`container_${event.currentTarget.id}`);
      console.log(document.querySelector('.story-card').offsetWidth);
      cc.scrollLeft += document.querySelector('.story-card').offsetWidth;
    });
  });
</script>
