<div>
  <% if params[:query] %>
    <h4 class="index-title">Results for <%= params[:query] %></h4>
    <%= render 'card' %>
  <% else %>
    <h4 class="index-title">Most popular</h4>
    <%= render 'card' %>
  <% end %>
</div>

<div id="story-details">
  <!-- render details partial in here -->
  <%= render "banner" %>
</div>

<% content_for(:afterjs) do %>
  <script>
    <% @stories.each do |story| %>
      $('#star_<%= story.id %>').raty({
        readOnly: true,
        score: <%= story.avg_rating %>,
        path: '/assets'
      });
    <% end %>
  </script>
<% end %>

