<h2><%= @story.title %></h2>
<p><%= @story.description %></p>
<% if @story.photo? %>
  <%= cl_image_tag @story.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>
<br>
<p>
  <% @story.categories.each do |category| %>
    <%= category.name %> -
  <% end %>
</p>

<%= link_to "Slides", story_slides_path(@story) %>

<p><%= link_to 'Back', stories_path %></p>
