<h2><%= @story.title %></h2>
<p><%= @story.description %></p>
<% if @story.photo? %>
  <%= cl_image_tag @story.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>
<br>
<p>
  <% @story.categories.each do |category| %>
    <%= category.name %> -
  <% end %>
</p>

<%= link_to "Slides Index", story_slides_path(@story) %>
<% if @first_slide != nil %>
  <%= link_to "Read the story", story_slide_path(@story, @first_slide) %>
<% end %>

<% if current_user == @story.user %>
  <td><%= link_to "Edit", edit_story_path(@story), class: 'btn btn-primary'%></td>
<% end %>


<p><%= link_to 'Back', stories_path %></p>
