<h2><%= @story.title %></h2>
<p><%= @story.description %></p>
<br>
<p>
  <% @story.categories.each do |category| %>
    <%= category.name %> -
  <% end %>
</p>

<%= link_to "Slides", story_slides_path(@story) %>

<%= link_to 'Back', stories_path %>
