<p><%= link_to '< Back', :back %></p>

<div class="container">
  <h2>
    <%= @story.title %>
    <% if current_user == @story.user %>
      <%= link_to "/publish/#{@story.id}", method: :post, class: 'btn btn-success' do %>
        <%= @story.published ? "Private" : "Publish" %>
      <% end %>
      <%= link_to "Edit", edit_story_path(@story), class: 'btn btn-primary'%>
      <%= link_to "Slides Index", story_slides_path(@story), class: 'btn btn-warning' %>
      <%= link_to "Delete", story_path(@story), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure? You won\'t be able to restore it!'} %>
    <% end %>
  </h2>
  <p><%= @story.description %></p>
  <% if @story.photo? %>
    <%= cl_image_tag @story.photo.path, crop: :fill %>
  <% else %>
    <%= image_path Story::placeholder %>
  <% end %>
  <br>
  <p>
    <% @story.categories.each do |category| %>
      <%= category.name %> <%= '-' unless category == @story.categories.last %>
    <% end %>
  </p>

  <% if @first_slide != nil %>
    <%= link_to "Read the story", story_slide_path(@story, @first_slide), class: 'btn btn-success' %>
  <% end %>
</div>
