<div class="container">
  <h2><%= @user.nickname %>, these are the stories you created</h2>

  <div style="margin-bottom: 100px;">
    <% @stories.each do |story| %>
    <div class="row" style="margin: 20px 0">
      <div class="col-xs-8">
        <h3 style="margin-top: 0; display: flex; justify-content: space-between;">
          <%= story.title %>
          <% if current_user == story.user %>
            <span class="control">
              <%= link_to "/publish/#{story.id}", method: :post, class: 'btn btn-success' do %>
                <%= story.published ? "Private" : "Publish" %>
              <% end %>
              <%= link_to "Edit", edit_story_path(story), class: 'btn btn-primary'%>
              <%= link_to "Story Map", story_slides_path(story), class: 'btn btn-warning' %>
              <%= link_to "Delete", story_path(story), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure? You won\'t be able to restore it!'} %>
            </span>
          <% end %>
        </h3>
        <p>
          <% story.categories.each do |category| %>
            <i><%= category.name %></i><%= '-' unless category == story.categories.last %>
          <% end %>
        </p>
        <p><%= story.description %></p>
      </div>
      <% if story.photo? %>
        <div class="col-xs-2">
          <%= cl_image_tag story.photo.path, width: 300, height: 200, crop: :fill %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
