<h2>Welcome, <%= @user.nickname %></h2>

<h2>This is your dashboard, with the stories you created and where you can create new ones</h2>

<table>
  <% @stories.each do |story| %>
    <tr>
      <td><%= link_to story.title, story_path(story) %></td>
      <td><%= story.published ? "Public" : "Private" %></td>
    </tr>
    <tr>
      <td><%= link_to "Edit", edit_story_path(story), class: 'btn btn-primary'%></td>
      <td>
        <%= link_to "/publish/#{story.id}", method: :post, class: 'btn btn-warning' do %>
          <%= story.published ? "Private" : "Publish" %>
        <% end %>
      </td>
      <td><%= link_to "Delete", story_path(story), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure? You won\'t be able to restore it!'} %></td>
    </tr>
  <% end %>
</table>
