<div>
  <h4 class="index-title">Popular <%= @category.name %> stories</h4>
  <%= render 'shared/card' %>
</div>

<div id="story-details">
  <!-- render details partial in here -->
  <%= render "shared/banner" %>
</div>

<% content_for(:afterjs) do %>
  <script>
    <% @stories.each do |story| %>
      $('#star_<%= story.id %>').raty({
        readOnly: true,
        score: <%= story.avg_rating %>,
        path: '/assets'
      });
    <% end %>
  </script>
<% end %>
