<div style="margin-bottom: 100px">
  <h4 class="index-title">Most popular <%= @category.name %> stories</h4>
  <%= render 'shared/card', type: "popular" %>

  <h4 class="index-title">Most recent <%= @category.name %> stories</h4>
  <%= render 'shared/card', type: "recent" %>

  <h4 class="index-title">A - Z <%= @category.name %> stories</h4>
  <%= render 'shared/card', type: "aplha" %>
</div>


<% content_for(:afterjs) do %>
  <script>
    <% @stories.each do |story| %>
      $('#star_<%= story.id %>').raty({
        readOnly: true,
        score: <%= story.avg_rating %>,
        path: '/assets'
      });
    <% end %>
  </script>
<% end %>
