<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Campfire</title>
    <link rel="icon" type="image/png" href="blacklogo.png"/>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :aftercss %>
  </head>
  <body>
    <%= render 'shared/navbar' if @footers %>
    <div class="master-wrapper">
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= render 'shared/footer' if @footers %>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
    <%= javascript_include_tag 'application' %>
    <%= yield (:afterjs) %>
    <%= cloudinary_js_config %>
  </body>
</html>
